[submodule "front"]
	path = front
	url = git@github.com:MikkoPlus/b2b.polis.test-work-posts-front.git
[submodule "back"]
	path = back
	url = git@github.com:MikkoPlus/b2b.polis.test-work-posts-back.git
